{:company/legal-name "NCL Corporation Ltd."
 :company/lei "UNZWILHE4KMRP9K2L524"
 :company/jurisdiction "BM"
 :company/website "https://www.ncl.com"
 :company/ticker "NCLH (parent, NYSE)"
 :company/inquiry-form-url "https://www.ncl.com/jp/ja/about/contact-us-jp"}
